* * {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  z-index: 4;
  position: absolute;
}

#backgroundCanvas {
  z-index: -1;
  position: absolute;
}

#stripes {
  z-index: 0;
  position: absolute;
}

#playerCar {
  z-index: 1;
  position: absolute;
}
